<h1 align="center"><%= @title%></h1>

<%= form_tag({:controller => "repissues", :action => "index"}, :method => "get", :id => "query_form") do%>

<div class="flash">
<table class="files" style="width:50%">
<tr>
	
	<td><%= radio_button_tag "mode", "exceed", @checked1 %>Отчет по просроченным за период: </td>
	<td><%= select_tag(:period, options_for_select([["неделя",7],["месяц",30],["квартал",90],["год",365],["весь период",1000]],@selected)) %></td>
</tr>

	

<tr>
	<td><%= radio_button_tag "mode", "soon", @checked2 %>Скоро закроются</td>
</tr>
</table>
<td><%= submit_tag("Отобразить")%></td>
<% end %>
</div>

<% if !params[:commit].blank? %>

<% if !@resissues.blank?%>
<div class="autoscroll">
<table class="list issues">
    <tr class="sort desc "> 
	<% @resissues[0].each_key do |k|%>
	<th> <%= render_title(k) %> </th>
	<% end %>
    </tr>    
 <% @resissues.each do |is| %>
    <tr class= " <%= priority_line(is)%> " >
        <% is.each_pair do |k,v| %>
        <td class=" <%= render_td_class(k) %>  " ><%= render_issue(k,v) %></td>
        <% end %>
    </tr>
    <% end %>
</table>
</div>
<p class="pagination"><%= pagination_links_full @issue_pages, @issue_count %></p>
<%else%>
<h3> В заданный период просроченных задач нет.</h3>
<% end%>



<% end %>
