<h2>Отчет по выполняемым задачам</h2>

<table class="list">
    <tr class="issue"> 
	<% @resissues[0].each_key do |k|%>
	<td> <%= render_title(k) %> </td>
	<% end %>
    </tr>    
 <% @resissues.each do |is| %>
    <tr>
        <% is.each_pair do |k,v| %>
        <td><%= render_issue(k,v) %></td>
        <% end %>
    </tr>
    <% end %>
</table>


<p class="pagination"><%= pagination_links_full @issue_pages, @issue_count %></p>

<% other_formats_links do |f| %>
  <%= f.link_to 'Atom', :url => params.merge(:key => User.current.rss_key) %>
  <%= f.link_to 'CSV', :url => params, :onclick => "showModal('csv-export-options', '330px'); return false;" %>
  <%= f.link_to 'PDF', :url => params %>
<% end %>

