<h1 align="center"><%= @title%></h1>

<%= form_tag({:controller => "repissues", :action => "index"}, :method => "get", :id => "query_form") do%>

<div class="flash">
<table class="files">
<tr>
	<td><%= select_tag(:period, options_for_select([["неделя",1],["месяц",2],["квартал",3],["год",4],["весь период",5]])) %></td>
	
</tr>
<tr>
	<td><%= radio_button_tag "mode", "exceed", @checked1 %>Отчет по просроченным</td>
</tr>
<tr>
	<td><%= radio_button_tag "mode", "soon", @checked2 %>Скоро закроются</td>
</tr>
</table>
<td><%= submit_tag("Отобразить")%></td>
<% end %>
</div>

<% if !params[:commit].blank? %>

<table class="list">
    <tr class="issue"> 
	<% @resissues[0].each_key do |k|%>
	<td> <%= render_title(k) %> </td>
	<% end %>
    </tr>    
 <% @resissues.each do |is| %>
    <tr>
        <% is.each_pair do |k,v| %>
        <td><%= render_issue(k,v) %></td>
        <% end %>
    </tr>
    <% end %>
</table>


<p class="pagination"><%= pagination_links_full @issue_pages, @issue_count %></p>

<% end %>